svg {
    display: block;
}

.propFont {
    font-size: 95%;
    dominant-baseline: middle;
}
.propFont.left{
    text-anchor: end;
}
.propFont.right{
     text-anchor: start;
 }
.propFont.middle{
    text-anchor: middle;
}