table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: solid #000000;
    border-width: 3px;
    text-align: center;
    padding: 8px;
}

td.light {
    background: #f6f6f6;
}

td.dark {
    background: #ededed;
}