#outerbox {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
}

#centerCell {
    background: white;

}
.sideColumn{
    width: 14%;
}
.normaColumn{
    width: 8%;
}
.mainLine{
    height: 14%;
}
.normalLine {
    height: 8%
}

tr {
    padding: 0;
    /*height: auto;*/
}

td {
    /*display:inline-block;*/
    overflow: hidden;
    /*border: solid #000000;*/
    /*border-width: 0px;*/
    text-align: center;
    padding: 0;
}

td.light {
    background: #f6f6f6;
}

td.dark {
    background: #ededed;
}